@{
    ViewBag.Title = "Portal Juridico Kike";
}

<div class="jumbotron">
    <h1>Portal Juridico </h1>
    <p class="lead">BRINDA VIGILANCIA DIARIA DE LOS PROCESOS JUDICIALES</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Registrese &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que Hacemos</h2>
        <p>
            Brindamos información y conocimiento que permite a las entidades
            facilitar su defensa jurídica, para optimizar la administración
            y fortalecer la gestión institucional.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quienes Somos</h2>
        <p>Quienes Somos Quienes Somos Quienes Somos Quienes Somos Quienes Somos Quienes Somos Quienes Somos Quienes Somos</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Quienes Somos2 Quienes Somos2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descargas nuestra aplicacion</h2>
        <p>Descargas nuestra aplicacion Descargas nuestra aplicacion Descargas nuestra aplicacion Descargas nuestra aplicacion Descargas nuestra aplicacion</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Aqui Aqui &raquo;</a></p>
    </div>
</div>
